
@model CatarsysLab_Fact.Models.FacturacionModel

@Scripts.Render("~/Plugins/datatTables")


<div class="container">

    <!-- Modal -->
    <div class="modal fade" id="addFactura" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="TitleModalAsignacion">Proyectos</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="contAgregar">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:98%">
                            <span class="sr-only">70% Complete</span>
                        </div>
                    </div>
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#ServiciosFacturar">Servicios a Facturar</a></li>
                        <li><a data-toggle="tab" href="#DatosFiscales">Datos Fiscales</a></li>
                        <li><a data-toggle="tab" href="#Facturas">Facturas</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="ServiciosFacturar" class="tab-pane fade in active">
                            <form class="form-horizontal" role="form" id="fnGuardarProyecto">
                                <input type="hidden" name="idProyecto" id="idProyecto" />
                                <input type="hidden" name="frIdEmpresa" id="frIdEmpresa" />

                                <div class="row" id="fnCliente">
                                    <div class="form-group col-md-6">
                                        <label class="col-md-3 control-label">Cliente:</label>
                                        <div class="col-md-9">
                                            <select class="form-control" name="Cliente" id="Cliente" tabindex="1">
                                                <option value="0">Seleccione</option>
                                                @foreach (var emp in Model.ctClientes)
                                                {
                                                    <option value="@emp.Id_Cliente">@emp.Nombre_Cliente</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <div class="col-md-12">
                                            <div class="contEstado col-md-12  col-centered">
                                                <label class="radio-inline">
                                                    <input type="radio" name="asigProy" tabindex="2" value="1" id="rdFact">Asignación
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" checked name="asigProy" tabindex="3" value="0" id="rdProy">Proyecto
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="col-xs-6 ">
                                            <div class="col-xs-3"></div>
                                            <div class="col-xs-9 errorMsg"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="asignacion">
                                    <div class="row" id="fnCliente">
                                        <div class="form-group col-md-6">
                                            <label class="col-md-3 control-label">Consultor Asignado:</label>
                                            <div class="col-md-9">
                                                <select class="form-control" name="Empleado" id="Empleado" tabindex="4">
                                                    <option value="0">Seleccione</option>
                                                    @foreach (var emp in Model.ctEmpleado)
                                                    {
                                                        <option value="@emp.Id_Empleado">@emp.Nombre_Empleado</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="col-xs-6 ">
                                                <div class="col-xs-3"></div>
                                                <div class="col-xs-9 errorMsg"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-8"><h5>Periodo a facturar</h5></div>
                                        <div class="col-sm-4"><h5>Total: 22 días hábiles</h5></div>
                                    </div>
                                    <div class="row" id="fnFecha">
                                        <div class="form-group col-md-6">
                                            <label class="col-md-3 control-label">Fecha Inicio:</label>
                                            <div class="col-md-9">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" placeholder="dd/mm/yyyy" id="fecha_inicio" name="fecha_inicio" tabindex="5">
                                                    <span class="input-group-addon bg-primary b-0 text-white"><i class="ti-calendar"></i></span>
                                                </div><!-- input-group -->
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="col-md-3 control-label">Fecha Fin:</label>
                                            <div class="col-md-9">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" placeholder="dd/mm/yyyy" id="fecha_fin" name="fecha_fin" tabindex="6">
                                                    <span class="input-group-addon bg-primary b-0 text-white"><i class="ti-calendar"></i></span>
                                                </div><!-- input-group -->
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="col-xs-6 ">
                                                <div class="col-xs-3"></div>
                                                <div class="col-xs-9 errorMsg"></div>
                                            </div>
                                            <div class="col-xs-6 ">
                                                <div class="col-xs-3"></div>
                                                <div class="col-xs-9 errorMsg2"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="proyecto">
                                    <div class="row" id="fnNombreProyecto">
                                        <div class="form-group col-md-12">
                                            <label class="col-md-2 control-label" style="width: 12%;">Nombre Proyecto:</label>
                                            <div class="col-md-10" style="width: 88%;">
                                                <select class="form-control" name="Cliente" id="Cliente" tabindex="7">
                                                    <option value="0">Seleccione</option>
                                                    @foreach (var emp in Model.ctProyectos)
                                                    {
                                                        <option value="@emp.Id_Proyectos">@emp.Nombre_Proyectos</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="col-xs-6 ">
                                                <div class="col-xs-3"></div>
                                                <div class="col-xs-9 errorMsg"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row" id="fnCostoMoneda">
                                    <div class="form-group col-md-6">
                                        <label class="col-md-3 control-label">Monto:</label>
                                        <div class="col-md-9">
                                            <input type="number" class="form-control" id="Monto" name="Monto" tabindex="8">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="col-md-3 control-label">IVA a fact:</label>
                                        <div class="col-md-9">
                                            <select class="form-control" tabindex="9" name="IVA" id="IVA">
                                                <option value="0">Seleccione</option>
                                                @foreach (var emp in Model.ctIva)
                                                {
                                                    <option value="@emp.C_Id_IVA">@emp.C_Desc_IVA</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="col-xs-6 ">
                                            <div class="col-xs-3"></div>
                                            <div class="col-xs-9 errorMsg"></div>
                                        </div>
                                        <div class="col-xs-6 ">
                                            <div class="col-xs-3"></div>
                                            <div class="col-xs-9 errorMsg2"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row" id="fnCantidadTipo">


                                    <div class="col-xs-12">
                                        <div class="col-xs-6 ">
                                            <div class="col-xs-3"></div>
                                            <div class="col-xs-9 errorMsg"></div>
                                        </div>
                                        <div class="col-xs-6 ">
                                            <div class="col-xs-3"></div>
                                            <div class="col-xs-9 errorMsg2"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row" id="fnIVA">
                                    <div class="form-group col-md-6">
                                        <label class="col-md-3 control-label">Moneda a Fact:</label>
                                        <div class="col-md-9">
                                            <select class="form-control" tabindex="10" name="Moneda" id="Moneda">
                                                <option value="0">Seleccione</option>
                                                @foreach (var emp in Model.ctMoneda)
                                                {
                                                    <option value="@emp.C_Id_Moneda">@emp.C_Desc_Moneda</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="col-md-3 control-label">Tipo de cambio:</label>
                                        <div class="col-md-9">
                                            <select class="form-control" name="TipoCambio" id="TipoCambio" tabindex="11">
                                                <option value="0">Seleccione</option>
                                                @foreach (var emp in Model.ctTipoCambio)
                                                {
                                                    <option value="@emp.C_Id_Tipo_Cambio">@emp.C_Desc_Tipo_Cambio</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="col-xs-6 ">
                                            <div class="col-xs-3"></div>
                                            <div class="col-xs-9 errorMsg"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-12">

                                        <div class="col-md-offset-6">
                                            <div class="contEstado" style="float: right;font-weight: bold;">
                                                <table style="width:100%; text-align:right;">
                                                    <tr>
                                                        <td>Sub-Total:</td>
                                                        <td>$12,000.00 USD</td>

                                                    </tr>
                                                    <tr>
                                                        <td>IVA:</td>
                                                        <td>$1,920.00 USD</td>

                                                    </tr>
                                                    <tr>
                                                        <td>Total:</td>
                                                        <td>$13,920.00 USD</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label class="col-md-3 control-label">Información Adicional:</label>
                                        <div class="col-md-9">
                                            <textarea class="form-control" name="Comentarios" id="Comentarios" cols="40" rows="5" maxlength="250"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="col-md-3 control-label">Tipo de cambio:</label>
                                        <div class="col-md-9">
                                            <select class="form-control" name="TipoCambio" id="TipoCambio" tabindex="11">
                                                <option value="0">Seleccione</option>
                                                @foreach (var emp in Model.ctMetodoPago)
                                                {
                                                    <option value="@emp.C_ID_Metodo_Pago">@emp.C_de_Metodo_Pago</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="col-md-3 control-label">Últimos 4 Digitos:</label>
                                        <div class="col-md-9">
                                            <input type="number" class="form-control" id="txtDigitos" name="txtDigitos" tabindex="12">
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                        <div id="DatosFiscales" class="tab-pane fade">
                            <form class="form-horizontal" role="form" id="fnGuardarProyecto">

                                <div class="row" id="fnCliente">
                                    <div class="form-group col-md-6">
                                        <label class="col-md-3 control-label">Cliente:</label>
                                        <div class="col-md-9">
                                            <select class="form-control" name="Cliente" id="Cliente" tabindex="1">
                                                <option value="0">Seleccione</option>
                                                @foreach (var emp in Model.ctClientes)
                                                {
                                                    <option value="@emp.Id_Cliente">@emp.Nombre_Cliente</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="col-xs-6 ">
                                            <div class="col-xs-3"></div>
                                            <div class="col-xs-9 errorMsg"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="RazonRfc">
                                    <div class="row" id="fnCliente">
                                        <div class="form-group col-md-6">
                                            <label class="col-md-3 control-label">Razón Social:</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" id="txtRazonSocial" name="txtRazonSocial" tabindex="8">
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="col-md-3 control-label">RFC:</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" id="txtRfc" name="txtRfc" tabindex="8">
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="col-xs-6 ">
                                                <div class="col-xs-3"></div>
                                                <div class="col-xs-9 errorMsg"></div>
                                            </div>
                                            <div class="col-xs-6 ">
                                                <div class="col-xs-3"></div>
                                                <div class="col-xs-9 errorMsg"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <h5>Dirección fiscal</h5>
                                </div>

                                <div class="row" id="fnCalle">
                                    <div class="form-group col-md-6">
                                        <label class="col-md-3 control-label">Calle:</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" id="calle" name="calle" tabindex="4" maxlength="50">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label class="col-md-4 control-label">Exterior:</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" id="Exterior" name="Exterior" tabindex="5" maxlength="8">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label class="col-md-4 control-label">Interior:</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" id="Interior" name="Interior" tabindex="6" maxlength="8">
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="col-xs-6 ">
                                            <div class="col-xs-3"></div>
                                            <div class="col-xs-9 errorMsg"></div>
                                        </div>
                                        <div class="col-xs-6 ">
                                            <div class="col-xs-3"></div>
                                            <div class="col-xs-9 errorMsg2"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row" id="fnColonia">
                                    <div class="form-group col-md-6">
                                        <label class="col-md-3 control-label" for="example-email">Colonia:</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" id="Colonia" name="Colonia" tabindex="7" maxlength="50">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="col-md-3 control-label" for="example-email">CP:</label>
                                        <div class="col-md-9">
                                            <input type="number" class="form-control" id="CP" name="CP" tabindex="8" maxlength="5">
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="col-xs-6 ">
                                            <div class="col-xs-3"></div>
                                            <div class="col-xs-9 errorMsg"></div>
                                        </div>
                                        <div class="col-xs-6 ">
                                            <div class="col-xs-3"></div>
                                            <div class="col-xs-9 errorMsg2"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row" id="fnEstadoDomicilio">
                                    <div class="form-group col-md-6">
                                        <label class="col-md-3 control-label" for="example-email">Del / Mpio:</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" id="DelMpio" name="DelMpio" tabindex="9" maxlength="50">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="col-md-3 control-label" for="example-email">Estado:</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" id="EstadoDomicilio" name="EstadoDomicilio" tabindex="10" maxlength="25">
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="col-xs-6 ">
                                            <div class="col-xs-3"></div>
                                            <div class="col-xs-9 errorMsg"></div>
                                        </div>
                                        <div class="col-xs-6 ">
                                            <div class="col-xs-3"></div>
                                            <div class="col-xs-9 errorMsg2"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row" id="fnEmail">
                                    <div class="form-group col-md-6">
                                        <label class="col-md-3 control-label" for="example-email">E-mail:</label>
                                        <div class="col-md-9">
                                            <input type="email" class="form-control" id="Email" name="Email" tabindex="11" maxlength="50">
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="col-xs-6 ">
                                            <div class="col-xs-3"></div>
                                            <div class="col-xs-9 errorMsg"></div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div id="Facturas" class="tab-pane fade">

                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default bx-shadow-none">
                                    <div class="panel-heading" role="tab" id="headingOne">
                                        <h4 class="panel-title">
                                            <a role="button" data-toggle="collapse"
                                               data-parent="#accordion" href="#collapseOne"
                                               aria-expanded="true" aria-controls="collapseOne">
                                                Vista Previa
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                        <div class="panel-body">
                                            <div class="row ContCargar">
                                                <button type="button" data-URL="/Facturas/3/documentos.pdf" data-TitleDocto="Título 1" data-DescDocto="Descripcion 1" data-toggle="tooltip" title="Descripción 1" class="btnDoctoView btn btn-primary">Factura 1</button>
                                                <button type="button" data-URL="/Facturas/3/documentos.xml" data-TitleDocto="Título 2" data-DescDocto="Descripcion 2" data-toggle="tooltip" title="Descripción 2" class="btnDoctoView btn btn-custom">Factura 2</button>
                                                <button type="button" data-URL="/Facturas/3/documentos.pdf" data-TitleDocto="Título 3" data-DescDocto="Descripcion 3" data-toggle="tooltip" title="Descripción 3" class="btnDoctoView btn btn-custom">Factura 3</button>
                                                <button type="button" data-URL="/Facturas/3/documentos.xml" data-TitleDocto="Título 4" data-DescDocto="Descripcion 4" data-toggle="tooltip" title="Descripción 4" class="btnDoctoView btn btn-custom">Factura 4</button>
                                            </div>
                                            <div class="row ContCargar">
                                                <div class="form-group col-md-12">
                                                    <label class="col-md-3 control-label" for="txtTituloArchivo">Título:</label>
                                                    <div class="col-md-9">
                                                        <input type="text" class="form-control" id="txtTituloArchivo" readonly="readonly" value="Título 1">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row ContCargar">
                                                <div class="form-group col-md-12">
                                                    <label class="col-md-3 control-label" for="txtDescripcionDocto">Comentarios:</label>
                                                    <div class="col-md-9">
                                                        <textarea class="form-control" id="txtDescripcionDocto" readonly="readonly">Descripción 1</textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row ContCargar">
                                                <div id="objVistaPreviaCont">
                                                    <object id="objVistaPrevia" data="" type="application/xml"></object>            
                                                </div>                                    
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default bx-shadow-none">
                                    <div class="panel-heading" role="tab" id="headingTwo">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse"
                                               data-parent="#accordion" href="#collapseTwo"
                                               aria-expanded="false" aria-controls="collapseTwo">
                                                Cargar Archivos
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                        <div class="panel-body">
                                            <div class="row ContCargar">
                                                <div class="form-group col-md-12">
                                                    <label class="col-md-3 control-label" for="txtTituloArchivo">Título:</label>
                                                    <div class="col-md-9">
                                                        <input type="text" class="form-control" id="txtTituloArchivo" name="txtTituloArchivo" tabindex="11" maxlength="20">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row ContCargar">
                                                <div class="form-group col-md-12">
                                                    <label class="col-md-3 control-label" for="example-email">Comentarios:</label>
                                                    <div class="col-md-9">
                                                        <textarea class="form-control" id="txtDescripcion" name="txtDescripcion" tabindex="11" maxlength="250"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row ContCargar">
                                                <div class="form-group col-md-12">
                                                    <label class="col-md-3 control-label" for="example-email">Archivos:</label>
                                                    <div class="col-md-9">

                                                        <label class="btn btn-default btn-file">
                                                            Seleccionar Archivos <input type="file" hidden multiple id="FileUpload1">
                                                        </label>
                                                        <button type="button" id="btnUpload" class="btn btn-custom " value="Subir">Cargar</button>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-custom " id="GuardarProyecto">Guardar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal-->
    <!-- Page Title -->
    <div class="row">
        <div class="col-sm-12">
            <div class="card-box table-responsive">

                <h4 class="header-title m-t-0 m-b-30">Facturación</h4>

                <table id="datatable" class="table table-striped dt-responsive nowrap dataTable no-footer dtr-inline" role="grid" aria-describedby="datatable_info">
                    <thead>
                        <tr>
                            <th>IdFactura</th>
                            <th>Tipo</th>
                            <th>Cliente</th>
                            <th>Concepto</th>
                            <th>Monto</th>
                            <th>Facturado</th>
                            <th>Día de facturación</th>
                            @*<th>Estado</th>*@
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div><!-- end col -->
    </div>
    <!-- end row -->

    <script src="~/Scripts/Facturas.js"></script>

</div> <!-- container -->
