@model CatarsysLab_Fact.Models.BannerModel
@{
    Layout = null;
}
<div class="col-xs-12">
    <div class="col-xs-8"></div>
    <div class="col-xs-4">
        <div class="col-xs-12">@ViewBag.DateNow</div>
        <div class="col-xs-12">
            <select class="form-control" name="Empresa" id="sltEmpresa">
                @foreach (var emp in Model.ctEmpresas)
                {
                    if (@emp.Id_Empresa == @ViewBag.Empresa)
                    {
                         <option selected="selected" value="@emp.Id_Empresa">@emp.Nombre_Empresa</option>
                    }
                    else
                    {
                        <option value="@emp.Id_Empresa">@emp.Nombre_Empresa</option>
                    }
                }
            </select>
        </div>
    </div>
</div>